.section {
  padding-block: var(--space-xl);
}

@media (min-width: 860px) {
  .section {
    padding-block: var(--space-2xl) var(--space-xl);
  }
}

.grid {
  display: grid;
  gap: var(--space-sm);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .grid {
    gap: var(--space-md);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
